/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

body{
	background-color: #EEEBE1;
	font-family: "Adelle", serif;
}

.container{
	max-width:960px;
	height:100%;
	margin:0 auto;
	padding:40px;
}

#cover_300 {
	height: 300px;
	width: 100%;
	margin:0 auto;
	position:fixed;
	z-index: 1;
	float:left;
	display:block;
	border-top:5px solid #69B8C9;
	background: url(../img/hero-photo2.jpg) no-repeat center;
	background-size: cover;
	padding:0;
	font-family: "Adelle", serif;
}

#makeme960{
	margin: 0 auto;
	padding:0;
	max-width:960px;
	max-height:300px;
}

#makeme960 #hello {
	position:relative;
	max-width:480px;
	margin: 0 auto 0 auto;
	padding: 40px;
	height: 250px;
	font-family: "Adelle";
	float:left;
	text-align: left;
	font-size:40px;
	
}

#hello h2{
	background-color: #000;
	color: #EEEBE1;
	padding:10px;
	font-weight: 300;
	margin-top:20px;
	/*background: rgb(54, 25, 25);
    background: rgba(54, 25, 25, .5);*/
}


.demo_container { height: auto; width:100%; margin:0 auto; max-width: 960px;}

#demo_top_wrapper { margin:0; width: 100%; position:relative; z-index: 200; }

#demo_top {
 height:300px; 
 width: 100%;
 
	
}
.logo {
	height:85px;
	width:40px;
	background: url(../img/logo_bcard_NOBG_w.png) no-repeat center;
	padding:0;
	float:left;
	cursor: hand;
	cursor: pointer;
	margin-top:1px;

}

#sticky_navigation_wrapper { width:100%; height:65px; font-family: 'bignoodletitlingregular';}

#sticky_navigation {
	position: relative;
	background-color: #000;
	margin: 0 auto;
	width: 100%;
	height: 65px;
	-webkit-box-shadow: 0 1px 5px -1px #333;
	-moz-box-shadow: 0 1px 5px -1px #333;
	box-shadow: 0 1px 5px -1px #333;
	clear: both;
	z-index: 9999 !important;
	right:0;
	left:0;
	padding:0;
	border-bottom: 5px solid #333;
}

#sticky_navigation ul { 
	list-style-type: none;
	float: right;
	margin-top: 25px;
	padding-top:15px;
	padding-left: 20px;
	padding-right:0;
	line-height: inherit;
	text-align: right;
}
#sticky_navigation ul li { margin:0; padding:0; display:inline; }
#sticky_navigation ul li a {
	font-family: 'bignoodletitlingregular', sans-serif;
	letter-spacing: 4px;
	font-size: 22px;
	text-decoration: none;
	color: #EEEBE1;
	-moz-transition: all 0.65s;
	-ms-transition: all 0.65s;
	-o-transition: all 0.65s;
	-webkit-transition: all 0.65s;
	transition: all 0.65s;
	padding-top: 10px;
	margin-left: 15px;
	border-top: 2px solid #000000;
	cursor: hand;
	cursor: pointer;
}
	
#sticky_navigation ul li a.work:hover {
	border-top: 2px solid #69B8C9;
	padding-top: 10px;
}

#sticky_navigation ul li a.work {
	border-top: 2px solid #69B8C9;
	padding-top: 10px;	 
}

#sticky_navigation ul li a.about:hover {
	border-top: 2px solid #b62f7d;
	padding-top: 10px;
}

#sticky_navigation ul li a.about .selected {
	border-top: 2px solid #b62f7d;
	padding-top: 10px;	 

}

.beige-bg{
	height:auto;
	width: 100%;
	background-color: #EEEBE1;
	position:relative;
	z-index: 100;
	padding-top:65px;
	padding-bottom:65px;
}

.beige-bg a{
	cursor: hand;
}


.one-third column {
	font-family: "Adelle", serif;
	padding-top:	20px;
}

.about{
	margin-top:20px;	
	width: 100%;
	height: auto;
	font-family: "proxima-nova", sans-serif;
}

/* YELLOW CAB
================================================== */

a #yc{
	width:100%;
	max-height:300px;
	
	background: #fece08; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNjklIiBzdG9wLWNvbG9yPSIjZmVjZTA4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkYjUxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-radial-gradient(center, ellipse cover,#fece08 69%, #fdb515 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(69%,#fece08), color-stop(100%,#fdb515)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fece08 69%,#fdb515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fece08 69%,#fdb515 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fece08 69%,#fdb515 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fece08 69%,#fdb515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fece08', endColorstr='#fdb515',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	padding:0;	
}

a #yc img{
	height: auto;
	width:	100%;
	margin: 0 auto;
	padding: 0;
	position:relative;
	z-index: 100;
}






/* ANMAL PLANET
================================================== */
a #ap{
	width:100%;
	max-height:300px;
	padding:0;
}

a #ap img{
	height: auto;
	width:	100%;
	margin: 0 auto;
	padding: 0;
	position:relative;
	z-index: 100
}


/* 50 LOGOS
================================================== */
a #fiftylogos {
	width:100%;
	max-height:300px;
	padding:0;
}

a #fiftylogos img {
	height: auto;
	width:	100%;
	margin: 0 auto;
	padding: 0;	
}

/* WNM WELCOME TO THE NEW
================================================== */
a #new{
	width:100%;
	max-height:300px;
	padding:0;
}

a #new img{
	height: auto;
	width:	100%;
	margin: 0 auto;
	padding: 0;	
}

/* WNM WELCOME TO THE NEW
================================================== */
a #fragment{
	width:100%;
	max-height:300px;
	padding:0;
}

a #fragment img{
	height: auto;
	width:	100%;
	margin: 0 auto;
	padding: 0;	
}


/* ROW
================================================== */
.row{
	max-height:300px;
	max-width: 960px;
	padding: 0;
	margin: 0 auto;
}

.row a{
	max-height:300px;
	max-width: 960px;
	padding: 0;
	margin: 0 auto;
}


/* ROW
================================================== */

.campaign {
	height:100%;
	width: 100%;
	padding: 0;
	margin: -6px auto 0 auto;
	
}

.campaign img{
	height: auto;
	width:	100%;
	margin: 0 auto;
	padding: 0;
}





footer #footer-main{
	height:300px;
	width:100%;
	padding-top: 65px;
	background-color: #333;
	position:relative;
	z-index: 110;
	float:left;
	margin-top: 40px;
	-webkit-box-shadow: 0 2px 5px -1px #000;
	-moz-box-shadow: 0 2px 5px -1px #000;
	box-shadow: 0 2px 5px -1px #000;
	border-top: 5px solid #B04570;
}


.copyright {
	height:23px;
	width:100%;
	float:left;
	background-color: #000;
	color: #EEEBE1;
	font-size:10px;
	font-family: "Adelle", serif;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 5px;	
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) .row {margin:0; width:100%; height:100px;}


	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) .row {margin:0; width:100%; height:100px;}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
    font-family: 'bignoodletitlingregular';
    src: url('../fonts/big_noodle_titling-webfont.eot');
    src: url('../fonts/big_noodle_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_noodle_titling-webfont.woff') format('woff'),
         url('../fonts/big_noodle_titling-webfont.ttf') format('truetype'),
         url('../fonts/big_noodle_titling-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

